<div class="course-item js-course-item">

{% set tagClass = "" %}

{% if course.status == "Open to new starts" %}
  {% set tagClass = "govuk-tag--green" %}
{% elif course.status == "Last start date added" %}
  {% set tagClass = "govuk-tag--orange" %}
{% elif course.status == "Closed to new starts" %}
  {% set tagClass = "govuk-tag govuk-tag--light-grey" %}
  {% elif course.status == "Not available yet" %}
  {% set tagClass = "govuk-tag govuk-tag--light-yellow" %}
{% endif %}


{% set isMarkedForRemoval =
  course.action == "Marked for removal"
  and course.larsCode not in (data.keptCourses or [])
%}


{{ govukTag({
  text: course.status,
  classes: tagClass
}) }}

  <div class="course-title">

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1 govuk-!-margin-top-3"><a href="/individual-course/{{ course.larsCode }}">
      {{ course.title }}</a>
    </h2>
    

  </div>

<div class="course-info">
  <p>
    <b>LARS code</b>: {{ course.larsCode }}
  </p>


{% if course.status == "Last start date added" and course.laststartDate %}
  <p>
    <b>Last start date</b>: {{ course.laststartDate }}
  </p>
  
{% endif %}

{% if course.status == "Closed to new starts" and course.laststartDate %}
  <p>
    <b>Last start date</b>: {{ course.laststartDate }}
  </p>
{% endif %}



{% if isMarkedForRemoval %}
  {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{{ govukWarningText({
  html: "This apprenticeship will be removed on " + course.removalDate + " because you have not delivered it recently. Confirm if you still want to offer it.",
  iconFallbackText: "Warning"
}) }}
{% endif %}

{% if course.action == "Details needed" %}
  {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{{ govukWarningText({
  html: "This apprenticeship is missing information, which means it’s not showing on Find apprenticeship training. Update your details to advertise it. ",
  iconFallbackText: "Warning"
}) }}
{% endif %}

</div>


</div>