<div class="course-item js-course-item">
  <div class="course-title">

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="#">
      {{ course.title }}</a>
    </h2>
    

  </div>

<div class="course-info">
  <p>
    <b>LARS code</b>: {{ course.larsCode }}
  </p>


{% if course.status == "Last start date set" and course.laststartDate %}
  <p>
    <b>Last start date</b>: {{ course.laststartDate }}
  </p>
{% endif %}

{% if course.status == "Scheduled for removal" and course.removalDate %}
  <p>
    <b>Removal date</b>: {{ course.removalDate }}
  </p>

{% endif %}




{% set tagClass = "" %}

{% if course.status == "Open to new starts" %}
  {% set tagClass = "govuk-tag--green" %}
{% elif course.status == "Last start date set" %}
  {% set tagClass = "govuk-tag--orange" %}
{% elif course.status == "Scheduled for removal" %}
  {% set tagClass = "govuk-tag--red" %}
{% elif course.status == "Closed to new starts" %}
  {% set tagClass = "govuk-tag govuk-tag--light-grey" %}
{% endif %}

{{ govukTag({
  text: course.status,
  classes: tagClass
}) }}

{% if course.status == "Scheduled for removal" %}
  {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{{ govukWarningText({
  text: "You haven’t delivered this course since [DATE]. It will be removed from your account on 2 July 2026 unless you [ACTION]",
  iconFallbackText: "Warning"
}) }}
{% endif %}

</div>


</div>