{% extends "layouts/main.html" %}

{% block pageTitle %}
  Course found
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

 <span class="govuk-caption-xl">
       Add an apprenticeship
      </span>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      User researcher (level 4)</h1>

<!-- Summary component -->

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set rows = [
  {
    key: {
      text: "Type"
    },
    value: {
      text: 'Apprenticeship'
    }
  },
  {
    key: {
      text: "Sector"
    },
    value: {
      text: 'Digital'
    }
  },
  {
    key: {
      text: "LARS code"
    },
    value: {
      text: 535
    }
  },
  {
    key: {
      text: "Delivery status"
    },
    
value: {
        html: govukTag({
          text: 'Not available yet',
          classes: 'govuk-tag--yellow'
        })
      }

  }
] %}

{{ govukSummaryList({
  rows: rows
}) }}

  {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{{ govukWarningText({
  html: "This course is not yet available for delivery. You can add this now and complete your setup. You’ll be able to deliver it once it becomes available.",
  iconFallbackText: "Warning"
}) }}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "changedName",
  fieldset: {
    legend: {
      text: "Is this the correct apprenticeship?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

<button class="govuk-button govuk-!-margin-top-2">Continue</button>

  </div>
  </div>

{% endblock %}
