{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ course.title }} - Manage apprenticeship
{% endblock %}

{% block containerStart %}


{{ govukBackLink({
  text: "Back",
  href: "/manage-your-apprenticeship-units" if course.type == "Unit" else "/manage-your-standards"
}) }}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data.success == "true" %}
  {{ govukNotificationBanner({
    type: "success",
    text: "This course is no longer marked for removal."
  }) }}
{% endif %}


 <span class="govuk-caption-xl">
       Manage an apprenticeship
      </span>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      {{ course.title }}</h1>
      
      <!-- Set up status coloured tags -->
       {% set tagClass = "" %}

{% if course.status == "Open to new starts" %}
  {% set tagClass = "govuk-tag--green" %}
{% elif course.status == "Last start date added" %}
  {% set tagClass = "govuk-tag--orange" %}
{% elif course.status == "Closed to new starts" %}
  {% set tagClass = "govuk-tag--light-grey" %}
{% elif course.status == "Not available yet" %}
  {% set tagClass = "govuk-tag--light-yellow" %}
{% endif %}

<!-- Summary component -->

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set rows = [
   {
    key: {
      text: "ST Code"
    },
    value: {
      text: "105256"
    }
  },
  {
    key: {
      text: "Type"
    },
    value: {
      text: 'Apprenticeship ' + course.type
    }
  },
  {
    key: {
      text: "Sector"
    },
    value: {
      text: course.sector
    }
  },
  {
    key: {
      text: "LARS code"
    },
    value: {
      text: course.larsCode
    }
  },
  {
    key: {
      text: "Delivery status"
    },
    
value: {
        html: govukTag({
          text: course.status,
          classes: tagClass
        })
      }

  }
] %}

{% if course.status == "Last start date added" %}
  {% set rows = (rows.push({
    key: {
      text: "Last start date"
    },
    value: {
      text: course.laststartDate
    }
  }), rows) %}
{% endif %}

{% if course.status == "Closed to new starts" %}
  {% set rows = (rows.push({
    key: {
      text: "Last start date"
    },
    value: {
      text: course.laststartDate
    }
  }), rows) %}
{% endif %}

{{ govukSummaryList({
  rows: rows
}) }}

{% if course.status == "Last start date added" %}
  {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{{ govukWarningText({
  html: " This course has a last start date set. Once the last start date has passed, you will not be able to: <ul><li>add new learners</li><li>advertise it on Find apprenticeship training </li><li>submit ILRs for learners who start after this date</li></ul>You can continue to train learners who are already on the course.",
  iconFallbackText: "Warning"
}) }}

{% endif %}

{% if course.status == "Closed to new starts" %}
  {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{{ govukWarningText({
  html: "This course is closed to new starts. This means you will not be able to: <ul><li>add new learners</li><li>advertise it on Find apprenticeship training </li><li>submit ILRs for learners who start after this date</li></ul>You can continue to train learners who are already on the course.",
  iconFallbackText: "Warning"
}) }}

{% endif %}


{% if course.action == "Marked for removal"
   and course.larsCode not in (data.keptCourses or []) %}

<div class="action-container govuk-!-margin-top-8 govuk-!-margin-bottom-7">
  <h2>Action required</h2>
  <p>This course has had no learners for an extended period and appears to be inactive. It will be removed on <b>{{ course.removalDate }}</b> unless you confirm that you still offer it.</p>
  {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">

{{ govukButton({
  text: "Keep this course",
  href: "/confirm-keep-course/" + course.larsCode
}) }}


  <a class="govuk-link" href="#">Remove course</a>
</div>

</div>

{% endif %}

{% if course.action == "Details needed" %}

<div class="action-container govuk-!-margin-top-8 govuk-!-margin-bottom-7">
  <h2>Action required</h2>
  <p>This apprenticeship is missing information, which means it’s not showing on Find apprenticeship training. Update your details to advertise it. </p>
  {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">

{{ govukButton({
  text: "Add missing details",
  href: "#"
}) }}
</div>

</div>

{% endif %}

    <h2>Contact details</h2>
    <p>If there is a specific person of team that should be contacted for this apprenticeship, update these contact details.</p>

     {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Email address"
      },
      value: {
        text: "info@example.com"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Telephone number"
      },
      value: {
        text: "01865 437166"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Website page"
      },
      value: {
        text: "www.example.com"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}

    <h2>Training delivery locations</h2>
    <p>This is where you have told us you can deliver training for this apprenticeship unit.</p>

         {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Delivery locations"
      },
      value: {
        html: "At your training venue<br/>At employer’s location"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Your training venues"
      },
      value: {
        text: "Practical Genius"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "National provider"
      },
      value: {
        text: "No"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Areas you can deliver at an employer’s location"
      },
      value: {
        html: "Bedford<br/>Norfork<br/>Lincolnshire"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Delete apprenticeship",
  classes: "govuk-button--secondary"
}) }}


    <hr class="govuk-section-break--xl govuk-section-break--visible">

    <a class="govuk-link" href="/manage-your-standards">Back to manage your standards</a>

  </div>
</div>



{% endblock %}