{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


 <span class="govuk-caption-xl">
       Manage an apprenticeship
      </span>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      {{ course.title }}</h1>
      
      <!-- Set up status coloured tags -->
       {% set tagClass = "" %}

{% if course.status == "Open to new starts" %}
  {% set tagClass = "govuk-tag--green" %}
{% elif course.status == "Last start date added" %}
  {% set tagClass = "govuk-tag--orange" %}
{% elif course.status == "Marked for removal" %}
  {% set tagClass = "govuk-tag--red" %}
{% elif course.status == "Closed to new starts" %}
  {% set tagClass = "govuk-tag--light-grey" %}
{% elif course.status == "Not available yet" %}
  {% set tagClass = "govuk-tag--light-yellow" %}
{% elif course.status == "More details needed" %}
  {% set tagClass = "govuk-tag--red" %}
{% endif %}

<!-- Summary component -->

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set rows = [
   {
    key: {
      text: "ST Code"
    },
    value: {
      text: course.stCode
    }
  },
  {
    key: {
      text: "Type"
    },
    value: {
      text: 'Apprenticeship'
    }
  },
  {
    key: {
      text: "Sector"
    },
    value: {
      text: course.sector
    }
  },
  {
    key: {
      text: "LARS code"
    },
    value: {
      text: course.larsCode
    }
  },
  {
    key: {
      text: "Delivery status"
    },
    
value: {
        html: govukTag({
          text: course.status,
          classes: tagClass
        })
      }

  }
] %}

{% if course.status == "Last start date added" %}
  {% set rows = (rows.push({
    key: {
      text: "Last start date"
    },
    value: {
      text: course.laststartDate
    }
  }), rows) %}
{% endif %}

{% if course.status == "Marked for removal" %}
  {% set rows = (rows.push({
    key: {
      text: "Removal date"
    },
    value: {
      text: course.removalDate
    }
  }), rows) %}
{% endif %}

{{ govukSummaryList({
  rows: rows
}) }}

{% if course.status == "Marked for removal" %}
  {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{{ govukWarningText({
  html: "This apprenticeship will be removed on " + course.removalDate + " because you have not delivered it recently. Confirm if you still want to offer it.",
  iconFallbackText: "Warning"
}) }}

<a class="govuk-link" href="/#">Keep this apprenticeship</a>
{% endif %}

    <h2>Information that is specific for this apprenticeship</h2>

    <h3>Contact details</h3>
    <p>These are the contact details that show on Find training for learners for this short course. </p>

     {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Email address"
      },
      value: {
        text: "info@example.com"
      }
    },
    {
      key: {
        text: "Telephone number"
      },
      value: {
        text: "01865 437166"
      }
    },
    {
      key: {
        text: "Website page"
      },
      value: {
        text: "www.example.com"
      }
    }
  ]
}) }}

<a class="govuk-link" href="#">Update these contact details</a>

    <h2>Training options</h2>

    

<a class="govuk-link" href="#">Edit training locations</a>

    <div class="action-container">
      <h2 class="govuk-heading-m">Actions</h2>
      
      <a class="govuk-link" href="#">Delete apprenticeship</a>
    </div>


    <hr class="govuk-section-break--xl govuk-section-break--visible">

    <a class="govuk-link" href="/manage-your-standards">Back to manage your standards</a>

  </div>
</div>



{% endblock %}