{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ course.title }} - Manage apprenticeship
{% endblock %}

{% block containerStart %}


{{ govukBackLink({
  text: "Back",
  href: "/manage-your-apprenticeship-units" if course.type == "Unit" else "/manage-your-standards"
}) }}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        {% if course.action == "Details needed" %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#details-error">You must add a training option to this apprenticeship. </a>
        </li>
        <li>
          <a href="#details-error">It will not show on Find apprenticeship training until you do.</a>
        </li>
      </ul>
    </div>
  </div>
</div>
    {% endif %}

    {% if data.success == "true" and course.larsCode in (data.keptCourses or []) %}
  {{ govukNotificationBanner({
    type: "success",
    text: "This course is no longer marked for removal."
  }) }}
{% endif %}


 <span class="govuk-caption-xl">
       Manage an apprenticeship
      </span>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      {{ course.title }}</h1>
      
      <!-- Set up status coloured tags -->
       {% set tagClass = "" %}

{% if course.status == "Open to new starts" %}
  {% set tagClass = "govuk-tag--green" %}
{% elif course.status == "Last start date added" %}
  {% set tagClass = "govuk-tag--orange" %}
{% elif course.status == "Closed to new starts" %}
  {% set tagClass = "govuk-tag--light-grey" %}
{% elif course.status == "Not available yet" %}
  {% set tagClass = "govuk-tag--light-yellow" %}
{% endif %}

<!-- Summary component -->

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set rows = [
   {
    key: {
      text: "ST Code"
    },
    value: {
      text: "105256"
    }
  },
  {
    key: {
      text: "Type"
    },
    value: {
      text: course.type
    }
  },
  {
    key: {
      text: "Sector"
    },
    value: {
      text: course.sector
    }
  },
  {
    key: {
      text: "LARS code"
    },
    value: {
      text: course.larsCode
    }
  },
  {
    key: {
      text: "Delivery status"
    },
    
value: {
        html: govukTag({
          text: course.status,
          classes: tagClass
        })
      }

  }
] %}

{% if course.status == "Last start date added" %}
  {% set rows = (rows.push({
    key: {
      text: "Last start date"
    },
    value: {
      text: course.laststartDate
    }
  }), rows) %}
{% endif %}

{% if course.status == "Closed to new starts" %}
  {% set rows = (rows.push({
    key: {
      text: "Last start date"
    },
    value: {
      text: course.laststartDate
    }
  }), rows) %}
{% endif %}

{{ govukSummaryList({
  rows: rows
}) }}

{% if course.status == "Last start date added" %}
  {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{{ govukWarningText({
  html: " This course has a last start date set. Once the last start date has passed, you will not be able to: <ul><li>add new learners</li><li>advertise it on Find apprenticeship training </li><li>submit ILRs for learners who start after this date</li></ul>You can continue to train learners who are already on the course.",
  iconFallbackText: "Warning"
}) }}

{% endif %}

{% if course.status == "Closed to new starts" %}
  {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{{ govukWarningText({
  html: "This course is closed to new starts. This means you will not be able to: <ul><li>add new learners</li><li>advertise it on Find apprenticeship training </li><li>submit ILRs for learners who start after this date</li></ul>You can continue to train learners who are already on the course.",
  iconFallbackText: "Warning"
}) }}

{% endif %}


{% if course.action == "Marked for removal"
   and course.larsCode not in (data.keptCourses or []) %}

<div class="action-container govuk-!-margin-top-8 govuk-!-margin-bottom-7">
  <h2>Action required</h2>
  <p>This course has had no learners for an extended period and appears to be inactive. It will be removed on <b>{{ course.removalDate }}</b> unless you confirm that you still offer it.</p>
  {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group govuk-!-margin-bottom-0">

{{ govukButton({
  text: "Keep this course",
  href: "/confirm-keep-course/" + course.larsCode
}) }}


  <a class="govuk-link" href="#">Remove course</a>
</div>

</div>

{% endif %}

{% if course.status != "Closed to new starts" %}

    <h2>Contact details</h2>
    <p>If there is a specific person of team that should be contacted for this apprenticeship, update these contact details.</p>

     {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Email address"
      },
      value: {
        text: "info@example.com"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Telephone number"
      },
      value: {
        text: "01865 437166"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Website page"
      },
      value: {
        text: "www.example.com"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}

    <h2 class="govuk-!-margin-top-8">Training options</h2>
    <p>This is where you have told us you can deliver training for this apprenticeship.</p>

     {% if course.action == "Details needed" %}
     <div class="govuk-form-group govuk-form-group--error" id="details-error">
         <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <!-- <dt class="govuk-summary-list__key">
      Name
    </dt> -->
    <dd class="govuk-summary-list__value">
      <p id="national-insurance-number-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> You must add a training option to this apprenticeship. 
  </p>
      No training locations. Select <b>Change</b> to add one.
    </dd>
    <dd class="govuk-summary-list__actions v-bottom">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
</dl>
</div>
     {% endif %}

     {% if course.action != "Details needed" %}

    <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <!-- <dt class="govuk-summary-list__key">
      Name
    </dt> -->
    <dd class="govuk-summary-list__value">
      This apprenticeship is only delivered at your training locations.
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
</dl>

    <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Venue name
    </dt>
    <dd class="govuk-summary-list__key">
      Delivery method
    </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a> -->
    </dd>
  </div>
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value">
      Dalton house
    </dt>
    <dd class="govuk-summary-list__value">
      Block release
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
</dl>

{% endif %}



{% endif %}


    <h2 class="govuk-!-margin-top-8">Delete this course</h2>
    <p>Deleting a course from your offering will stop you from claiming government funding for it. You will not be able to submit any Individualised Learner Records (ILRs) for it. </p>
    <p>If you choose to delete it, it will be removed from your account and no longer show on Find apprenticeship training. </p>


<div class="govuk-inset-text">

{% if course.status == "Closed to new starts" %}
<p><b>You can delete this course if you no longer have learners on it. </b></p>
{% endif %}

 <p><b>Do not delete this course if you have learners still completing it. It must stay in your offering to claim government funding.</b></p>
</div>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Delete apprenticeship",
  classes: "govuk-button--secondary"
}) }}


    <hr class="govuk-section-break--xl govuk-section-break--visible">

    <a class="govuk-link" href="/manage-your-standards">Back to manage your standards</a>

  </div>
</div>



{% endblock %}